<div class="gifs card-columns">
  <% @category.gifs.each do |gif| %>
      <div class = "card gif-card">
        <div class="card-img-top">
          <img src="<%= gif.image_path %>">
        </div>
        <div class="card-block">
          <a href="#" class="btn btn-primary">Favorite</a>
        </div>
      </div>
  <% end %>
</div>
