<div class="gifs card-columns">
  <% @category.gifs.each do |gif| %>
      <div class = "card gif-card">
        <div class="card-img-top">
          <img src="<%= gif.image_path %>">
        </div>
        <div class="card-block">
          <div class= "btn btn-primary">
            <%= link_to "Favorite", favorites_path(gif_id: gif.id), method: :post %>
          </div>
      </div>
  <% end %>
</div>
