.gif-card {
  img {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
}

.card-block {
  text-align: center;
 //  width: 20%; // or you could use percentage value for responsive layout
 // height: 20%;
 // overflow: auto;
}

.category-name {
  text-align: center;
}
